[submodule "cityhash-deb/cityhash"]
	path = cityhash-deb/cityhash
	url = https://github.com/google/cityhash.git
[submodule "boost-deb/boost"]
	path = boost-deb/boost
	url = https://github.com/boostorg/boost.git
[submodule "glog-deb/glog"]
	path = glog-deb/glog
	url = https://bitbucket.org/ubyon/glog.git
	branch = 0.6.0
