#!/usr/bin/make -f
# -*- makefile -*-

# output every command that modifies files on the build system.
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export V = 1

BUILD_DIR=$(CURDIR)/cityhash/

override_dh_auto_clean:
	cd $(BUILD_DIR)/; \
	  make clean

override_dh_auto_configure:
ifeq (arm64,$(DEB_HOST_ARCH))
	dh_auto_configure
	cd $(BUILD_DIR)/; \
	  ./configure --prefix=$(CURDIR)/debian/tmp/usr --build x86_64-pc-linux-gnu \
	  --host $(DEB_HOST_GNU_CPU)-linux-gnu \
	  --libdir=$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_GNU_CPU)-linux-gnu
else
	dh_auto_configure
	cd $(BUILD_DIR)/; \
	  ./configure --enable-sse4.2  --prefix=$(CURDIR)/debian/tmp/usr \
	  --host $(DEB_HOST_GNU_CPU)-linux-gnu \
	  --libdir=$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_GNU_CPU)-linux-gnu
endif

override_dh_auto_build:
ifeq (arm64,$(DEB_HOST_ARCH))
	# Fake included protobuf .proto files
	$(MAKE) -C $(BUILD_DIR) CXXFLAGS="-g -O3"
else
	$(MAKE) -C $(BUILD_DIR) check CXXFLAGS="-g -O3 -msse4.2"
endif

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	echo "hello world"
#	make -C $(BUILD_DIR) test
endif

override_dh_auto_install:
	$(MAKE) -C $(BUILD_DIR) install

override_dh_missing:
	dh_missing --list-missing

#override_dh_strip:
#ifeq (amd64,$(DEB_HOST_ARCH))
#	dh_strip -a
#else
#	echo "Skip stripping symbols."
#endif


%:
	dh $@ --parallel --with=multiarch

.PHONY: override_dh_auto_clean override_dh_auto_configure \
	override_dh_auto_build override_dh_auto_test \
	override_dh_auto_install override_dh_missing
